.container {
    max-width: 400px;
    margin: 100px auto; /* Adjust the margin value as needed */
    padding: 20px;
    text-align: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 250px;
    margin: 80px
  }
  
  .column {
    flex: 1;
  }
  
  .column label {
    display: block;
    font-size: 2vw;
  }
  
  input[type="number"] {
    width: 100%;
    font-size: 1.5vw;
    padding: 10px 10px 5px 90px;
    border-radius:1vw;
  }
  
  h1 {
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #140e0e;
    font-size: 3vw;
  }
  
  body {
    background-image: url(k1.jpg);
    background-size: cover;
  }
  